body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
main .heading {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
main .heading img {
  height: 2.8rem;
}
main .heading .text {
  font-size: large;
}
main .heading .text .features {
  color: #1DA1F2;
  font-weight: bold;
}
main .face {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
main .face .buttons {
  display: flex;
  flex-direction: column;
}
main .face .buttons > :not(:last-child) {
  margin-bottom: 1rem;
}
main .face img {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  margin-left: 5rem;
}
main .blocks {
  border: 2px solid #1DA1F2;
  border-radius: 10px;
  background-color: #def1fd;
  overflow-x: auto;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  align-items: center;
  max-width: 40rem;
  min-width: 10rem;
  height: 90px;
  min-height: 90px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  padding-inline: 0.5rem;
}
main .blocks .noblocks {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  text-align: center;
  color: #fa4a9b;
  font-weight: bold;
}
main .blocks .recent-block {
  width: 150px;
  min-width: 150px;
  background-color: #EBEEF0;
  margin-right: 0.5rem;
  padding: 0.1rem;
}
main .blocks .recent-block .head {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
main .blocks .recent-block .filename {
  color: #1DA1F2;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  cursor: pointer;
}
main .blocks .recent-block .time {
  font-size: smaller;
}
main .empty {
  height: 1px;
  min-height: 20px;
}

.modal-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.568);
}

.upload-block {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  height: 100vh;
  padding-inline: 1rem;
}
.upload-block .title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.upload-block .form {
  display: flex;
  flex-direction: column;
}
.upload-block .form > * {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.upload-block .form > * span {
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
}
.upload-block .form > * input, .upload-block .form > * textarea {
  outline: none;
  border: none;
  background-color: #EBEEF0;
  width: 17rem;
  height: 2rem;
  border-radius: 5px;
  border: 2px solid transparent;
}
.upload-block .form > * input:focus, .upload-block .form > * textarea:focus {
  border: 2px solid #1DA1F2;
}
.upload-block .form > * textarea {
  resize: none;
  height: 4rem;
}
.upload-block button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
}
.upload-block .cancelNewRecord {
  margin-top: 0.5rem;
  background-color: #F91880;
}

.search-block {
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
}
.search-block .title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.search-block .controller {
  display: flex;
  padding-inline: 0.1rem;
}
.search-block .controller .field-control .field {
  width: 4.5rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: small;
  background-color: #1DA1F2;
  color: white;
  padding-block: 0.2rem;
  margin-right: 0.2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.search-block .controller .field-control .field-drop {
  position: absolute;
  z-index: 100;
}
.search-block .controller .field-control .field-drop .aField {
  font-size: smaller;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #8899A6;
  cursor: pointer;
  padding-block: 0.2rem;
}
.search-block .controller .field-control .field-drop .odd-field {
  background-color: #EBEEF0;
}
.search-block .controller .query input {
  width: 12rem !important;
}
.search-block .btn-group {
  display: flex;
  justify-content: center;
}
.search-block .btn-group > * {
  height: 2rem;
  width: 6rem;
  margin-top: 0.5rem;
}
.search-block .btn-group .search-btn {
  background-color: #00BA7C;
  margin-right: 0.5rem;
}
.search-block .btn-group .cancel-btn {
  background-color: #F91880;
}
.search-block .result {
  border: 2px solid #1DA1F2;
  width: 95%;
  margin-top: 1rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  height: 100%;
  border-bottom: none;
}
.search-block .result .scrollit {
  margin-top: -0.8rem;
  border-top: 2px solid;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

button {
  height: 3rem;
  width: 10rem;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #1DA1F2;
  color: white;
}

input, textarea {
  outline: none;
  border: none;
  background-color: #EBEEF0;
  width: 17rem;
  height: 2rem;
  border-radius: 5px;
  border: 2px solid transparent;
}

.resultblock {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #EBEEF0;
  margin-bottom: 0.2rem;
}
.resultblock .head {
  font-size: large;
  font-weight: bold;
}
.resultblock .details {
  font-style: italic;
  margin-bottom: 0.3rem;
}
.resultblock .filename {
  color: #1DA1F2;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: bold;
  cursor: pointer;
}
.resultblock .time {
  font-size: small;
}

@media (max-width: 580px) {
  main {
    justify-content: space-between;
  }
  .search-block {
    padding-inline: 0;
  }
  .face {
    min-height: 150px !important;
  }
  .blocks {
    margin-right: 5px;
    margin-bottom: -1rem;
  }
  .empty {
    height: 0;
    min-height: 0;
  }
}/*# sourceMappingURL=index.css.map */